<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p><%= users.name%></p>
    <% for(let el of users){%>
      <p><%= el.frage%></p>
      <%}%>
  </body>
</html>
